/* Estilos gerais */
body {
    font-family: sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color:#ff7063;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    

}

h1 {
    margin: 0;
    font-size: 2.5em;
    color: #ffffff;
    text-align: center;
}

p {
    margin-top: 10px;
    font-size: 1.2em;
    color: #fefefe;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
}

#sobre-nos {
    background-color: #ff6f61;
    color: #ffffff;
    font-family: "Poppins", serif;
    border-radius: 20px;
    text-align: center;

}

#galeria {
    background-color: #fefefe;
    color: #ff6f61;
    font-family: "Poppins", serif;
    text-align: center;
    
}

.fotos {
    display: flex;
    gap: 15px;
    justify-content: center;
    font-family:cursive;
    text-align: center;
}

.fotos img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ff6f61;
    color: rgb(255, 255, 255);
    font-family:cursive;

}
git init
git add .
git commit -m "Primeiro commit do site"
git branch -M main
git remote add origin https://github.com/souzaxxz/meu-site.git
git push -u origin main



